<div class="container">
  <div class="header__formulario">
    <div class="header__formulario__icon">
      <app-svg-icon path="assets/icons/user.svg" class="icon"></app-svg-icon>
    </div>
    <div class="header__formulario__title">Formulario de Registro al cliente</div>
  </div>

  @if (formulario() && form) {
  <ng-container>
    <div class="content__formulario" [formGroup]="form">
      @for (item of formulario()?.lista; track $index) {
      <div class="formulario__title">{{ item.typeFormulario }}</div>

      <div class="formulario__inputs">
        @for (inputs of item.campos.lista; track $index) {
        <div class="input-container">
          <div class="formulario__inputs__title">{{ inputs.nombre }}</div>
          @if (inputs.type == typeInput.TEXT) {

          <!-- texto fijo -->
          <app-input
            size="small"
            [placeholder]="' Ingrese su ' + inputs.nombre.toLowerCase()"
            [formControlName]="inputs.nombre.toLowerCase()"
          ></app-input>

          }@else if(inputs.type == typeInput.NUMBER){
          <app-input-number
            size="small"
            [placeholder]="' Ingrese su ' + inputs.nombre.toLowerCase()"
            [formControlName]="inputs.nombre.toLowerCase()"
          ></app-input-number>
          }@else if (inputs.type == typeInput.DATE) {
          <app-date-picker
            size="small"
            placeholder="dd/mm/aaa"
            [formControlName]="inputs.nombre.toLowerCase()"
          ></app-date-picker>
          }
        </div>
        <!--  -->
        }
      </div>
      <!--  -->
      }
      <!--  -->
      <div class="formulario__title">Interés en Membresía</div>
      <div class="formulario__inputs">
        <app-select formControlName="membresia" placeholder="Seleccionar" size="small">
          @for (option of options(); track $index) {
          <app-option [value]="option.value">
            {{ option.label }}
          </app-option>
          }
        </app-select>
      </div>

      <div class="terminos">
        <app-checkbox formControlName="terminos"></app-checkbox>
        <span class="termino-text">Acepto que me contacten por Whatsapp y Correo Electronico</span>
      </div>

      <div class="termino-text2">
        Acepto términos y condiciones por la empresa Castillo de Chancay con la finalidad de recibir
        información, promociones, contenido educativo y beneficios relacionados con sus servicios, y
        autorizo el uso de mis datos de acuerdo a la Declaración de privacidad.
      </div>

      <div class="accion">
        <app-button size="large" type="secondary" text="Cancelar"></app-button>
        <app-button size="large" text="Guardar"></app-button>
      </div>
    </div>
  </ng-container>
  }
</div>
