<div class="container">
  <div class="tittle">Historial de Encuestas</div>
  <div class="table-scroll-container resize" id="tableContainer">
    <table>
      <thead>
        <tr>
          @for (column of columns(); track $index) {
          <th class="head2" [class]="column.name" [ngStyle]="{ 'width.px': column.minWidth }">

              {{ column.label }}

            <!-- -->
          </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of data(); track $index; let index1 =$index){
        <tr>
          @for (column of columns(); track $index) {
          <td [class]="column.name">
            @switch (column.name) { @case ('nombreEncuesta') {
            {{ row.nombreEncuesta }}
            } @case ('fechaInicio') {
            {{ row.fechaInicio }}
            } @case ('fechaFin') {
            {{ row.fechaFin }}
            } @case ('acciones') {
            <div class="action">
              <app-button
                size="small"
                leftIcon="assets/icons/edit.svg"
                type="tertiary"
              ></app-button>
              <app-button
                (click)="eliminarHistorial(row)"
                size="small"
                leftIcon="assets/icons/trash.svg"
                type="tertiary"
              ></app-button>
            </div>
            } }
          </td>

          }
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="paginacion-container">
    <paginado-tabla
      [currentPage]="page()"
      [totalPages]="totalPages()"
      (pageChange)="onPageChange($event)"
    >
    </paginado-tabla>
  </div>
</div>
