.tittle {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 20px;
}

.header {
  display: grid;
  grid-template-columns: 360px 1fr 1fr;
  gap: 50px;
}
.accion {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.table-scroll-container {
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 24px;

  table {
    thead {
      .icon {
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
    }

    tbody {
      tr {
        td {
          &.estado {
            align-items: center;
            justify-content: center;
            width: max-content;
            .container-chips {
              display: flex;
              gap: 8px;
              flex-direction: column;
            }
          }
          &.roles {
            .rol-name {
              font-size: 14px;
              display: flex;
              gap: 10px;
              flex-direction: column;
            }
          }

          &.acciones {
            text-align: center;
            gap: 10px;
          }
          .svg-container {
            display: flex;
            gap: 16px;
          }
        }

        .icon {
          width: 16px;
          height: 16px;
          cursor: pointer;
        }
        .action {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.paginacion-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
  height: 48px;
}
