<div class="container">
  <div class="modal-header">
    <div class="title">Nuevo beneficio</div>
    <app-svg-icon path="assets/icons/close.svg" class="icon" (click)="cancelar()"></app-svg-icon>
  </div>

  <div class="modal-body" [formGroup]="form">
    <div class="form">
      <div class="form form-1">
        <app-input
          formControlName="nombreBeneficio"
          label="Nombre"
          placeholder="Nombre del beneficio"
        ></app-input>
      </div>
    </div>
  </div>

  <div class="acciones">
    <app-button
      class="btn-popup"
      (click)="cancelar()"
      text="Cancelar"
      type="secondary"
      size="small"
    ></app-button>
    <app-button
      class="btn-popup"
      text="Agregar"
      type="primary"
      size="small"
      (click)="agregar()"
    ></app-button>
  </div>
</div>
