<div class="container">
  <div class="header">
    <div class="title">Evento</div>
    <div class="subtitle">Datos completos de clientes potenciales capturados</div>
    <div class="tabs">
      <a
        *ngFor="let tab of tabs(); let $index"
        [routerLink]="[tab.route]"
        class="tab-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img class="tab-icon" [src]="'assets/icons/' + tab.icon" alt="" />
        {{ tab.label }}
      </a>
    </div>
  </div>

  <div class="router-outlet">
    <router-outlet />
  </div>
</div>
