<div class="container">
  <div class="header">
    <div class="item">
      <app-search-input
        placeholder="Buscar por nombre, teléfono o email"
        [(value)]="searchInputCheck"
      ></app-search-input>
    </div>

    <div class="item">
      <app-select type="secondary" placeholder="Seleccione Encuesta"></app-select>
    </div>

    <div class="item">
      <app-select type="secondary" placeholder="Seleccione Empleado"></app-select>
    </div>
  </div>
  <div class="accion">
    <app-button leftIcon="assets/icons/import-data.svg" text="Importar datos"></app-button>
    <app-button leftIcon="assets/icons/download.svg" text="Exportar datos"></app-button>
  </div>
  <div class="table-scroll-container resize" id="tableContainer">
    <table>
      <thead>
        <tr>
          @for (column of columns(); track $index) {
          <th [class]="column.name" [ngStyle]="{ 'width.px': column.minWidth }">
            <div class="cabecera-column">
              {{ column.label }}
            </div>
            <!-- -->
          </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of data(); track $index; let index1 =$index){
        <tr>
          @for (column of columns(); track $index) {
          <td [class]="column.name">
            @switch (column.name) { @case ('nombre') {
            {{ row.nombre }}
            } @case ('telefono') {
            {{ row.telefono }}
            } @case ('trabajador') {
            {{ row.trabajador }}
            } @case ('fecharegistro') {
            {{ row.fecharegistro }}
            } @case ('evento') {
            {{ row.evento }}
            } @case ('acciones') {
            <div class="action">
              <app-button size="small" leftIcon="assets/icons/eye.svg" type="tertiary"></app-button>
              <app-button
                (click)="eliminarDatoObtenido(row)"
                size="small"
                leftIcon="assets/icons/trash.svg"
                type="tertiary"
              ></app-button>
              <app-button
                size="small"
                leftIcon="assets/icons/manos.svg"
                type="tertiary"
              ></app-button>
            </div>
            } }
          </td>

          }
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="paginacion-container">
    <paginado-tabla
      [currentPage]="page()"
      [totalPages]="totalPages()"
      (pageChange)="onPageChange($event)"
    >
    </paginado-tabla>
  </div>
</div>
