<div class="pagination">
  <div class="container">
    <button class="pagination-btn prev-btn" (click)="prevPage()" [disabled]="currentPage === 1">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M10.06 12L11 11.06L7.94667 8L11 4.94L10.06 4L6.06 8L10.06 12Z" fill="black" />
      </svg>

      <!-- <span>Anterior</span> -->
    </button>

    <div class="pagination-numbers">
      <span
        *ngFor="let page of getVisiblePages()"
        class="page-number"
        [ngClass]="{ active: currentPage === page, 'no-hover': page === '...' }"
        [class.active]="currentPage === page"
        (click)="onChangePage(page)"  
      >
        <ng-container *ngIf="page === '...'">...</ng-container>
        <ng-container *ngIf="page !== '...'">{{ page }}</ng-container>
      </span>
    </div>

    <button
      class="pagination-btn next-btn"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      <!-- <span>Siguiente</span> -->
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M6.94 4L6 4.94L9.05333 8L6 11.06L6.94 12L10.94 8L6.94 4Z" fill="black" />
      </svg>
    </button>
  </div>
</div>
