.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .acciones {
    display: flex;
    justify-content: end;
    gap: 10px;
  }

  .beneficios-container {
    display: flex;
    gap: 10px;

    .card {
      background-color: #FFFFFF;
      border-radius: 20px;
      padding: 10px;

      &:first-child,
      &:nth-child(1):not(.card-nueva) {
        // cualquiera de los dos funciona
        min-width: 360px;
      }

      &.card-nueva {
        min-width: 228px;
      }

      .header {
        display: flex;
        justify-content: start;
        padding: 10px;
        gap: 5px;
        border-bottom: 1px solid #6A3717;

        .icon {
          width: 50px;
          height: 50px;
        }

        .name {

          .nombre {
            font-weight: 400;
            font-size: 25px;
            line-height: 120%;
            letter-spacing: 0%;
            color: #6A3717;
          }

          .tipo {
            display: flex;
            gap: 5px;
            justify-content: space-between;

            .icon-edit {
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }
        }

      }

      .body {

        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 30px;

        .nombre {
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          letter-spacing: 0%;
          color: #6B7280;

          padding: 5px 5px 5px 0px;
          border-bottom: 1px solid #6A3717;
          min-height: 44px;

          app-input {
            width: 100%;
          }

        }

      }

    }

    .container-membresias {
      overflow-x: auto;
      display: flex;
      gap: 15px;

      .card {

        min-width: 228px;

        .nombre {
          display: flex;
          gap: 10px;
        }
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 7.5px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.4);
      }

    }

  }

}


.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;

  .eliminar-btn {
    background-color: #991C26;
    color: white;
    border: none;
    padding: 5px 10px;
    height: 33px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }

}
