<div class="container">
  @for (grupo of benficiosLista()?.datosBeneficioMembresia; track grupo.id) {
  <div class="acciones">
    <app-button
      leftIcon="assets/icons/plus.svg"
      text="Nuevo Beneficio"
      (click)="crearNuevaMembresia(grupo.id)"
    ></app-button>
  </div>
  <div class="beneficios-container">
    <!-- ACCIONES POR GRUPO -->

    <!-- CARD GENERAL DEL GRUPO (Parque Temático, etc.) -->
    <div class="card">
      <div class="header">
        <app-svg-icon color="#6A3717" path="assets/icons/castillo.svg" class="icon"></app-svg-icon>

        <div class="name">
          <div class="nombre">{{ grupo.nombreBeneficio }}</div>
          <div class="tipo">{{ grupo.tipoBeneficio }}</div>
        </div>
      </div>

      <div class="body">
        @for (beneficio of beneficiosPorGrupo(grupo.id); track beneficio.id) {
        <div class="nombre">
          {{ beneficio.nombreBeneficio }}
        </div>
        }
      </div>
    </div>

    <!-- CARDS POR MEMBRESÍA -->
    <div class="container-membresias">
      @for (membresia of grupo.datosMembresia; track membresia.id) {

      <div class="card" [class.card-nueva]="nuevasMembresiasIds().includes(membresia.id)">
        <div class="header">
          <app-svg-icon
            color="#6A3717"
            path="assets/icons/castillo.svg"
            class="icon"
          ></app-svg-icon>

          <div class="name">
            <div class="nombre">
              {{ membresia.nombreMembresia }}
            </div>

            <div class="tipo">
              <span>{{ membresia.tipoMembresia }}</span>
              <app-svg-icon
                color="#6A3717"
                path="assets/icons/edit.svg"
                class="icon-edit"
                (click)="EditarMembresia(grupo.id, membresia.id)"
              ></app-svg-icon>
            </div>
          </div>
        </div>

        <div class="body">
          <!-- SOLO beneficios de ESTE grupo + ESTA membresía -->
          @for (beneficio of beneficiosPorMembresiaYGrupo(membresia.id, grupo.id); track
          beneficio.id) { @let cfg = configBeneficioPorMembresia(beneficio, membresia.id);

          <div class="nombre">
            <app-checkbox
              [readonly]="!isEditingMembresia(grupo.id, membresia.id)"
              [value]="cfg?.valor ?? false"
              (valueChange)="onCheckboxChange(grupo.id, membresia.id, beneficio.id, $event)"
            ></app-checkbox>

            <span class="frecuencia">
              {{ cfg?.nombreMembresia }}
            </span>
          </div>
          }

          <!-- Botón solo visible cuando ESTA membresía está en edición -->
          @if (isEditingMembresia(grupo.id, membresia.id)) {
          <app-button
            size="small"
            text="Guardar"
            (click)="guardarMembresia(grupo.id, membresia.id)"
          ></app-button>
          }
        </div>
      </div>

      }
    </div>
  </div>

  }
</div>
